## Assignment 1 Comp 421 Fall 2022

<img src="https://comp421.cs.unc.edu/static/images/COMP421Logo.png" 
     align="right" style="display:inline; width:100px; ">


Answer each question below by filling in code at the point indicated.
Do not modify any cells that say <font color="red">"You cannot and should not update this cell"!</font>

You __<font color="red">must</font>__ run the cells in order. It looks like you can come back later after restarting and pick up where you left off but that is not the case. When restarting you always have to start at the top of the notebook and run each cell in turn. 

The data supplied to you in this assignment will be graded with slightly different data.
For example, if a question asks you to create a list of names from the 
database and your code simply sets the list to the answers without 
querying the database, your answer will not be accepted by the grader.

In [1]:
# You cannot and should not update this cell
%autosave 15
import comp421
check, report = comp421.start('A1')
import sqlite3

Autosaving every 15 seconds

In [2]:
# fill in the information below
Author = 'mkrishn'
Collaborators = ['sarsimha']

In [3]:
# You cannot and should not update this cell
check('Author', Author != 'youronyen', points=2, sort=True)
check('Collaborators', Collaborators != ['list', 'their', 'onyens', 'here'], points=2, sort=True)

Author appears correct
Collaborators appears correct

The cell above opened the database and printed out its contents.
The printout is only for you to look at the data.
The grader will use the same database schema but with different data.

For this assignment you have relations with these schemas

 ```sql
 create table Department (
     did integer primary key, 
     name text)

 create table Course (
     cid integer primary key,
     did integer,
     name text,
     num integer,
     creditHours integer,
     foreign key (did) references Department)
     
 create table Student (
     sid integer primary key,
     did integer,
     fname text,
     lname text,
     foreign key (did) references Department)

 create table Enrolled_in (
     eid integer primary key,
     sid integer,
     cid integer,
     foreign key (sid) references Student,
     foreign key (cid) references Course)
       
 ```

In [4]:
# You cannot and should not update this cell
db = sqlite3.connect('CourseEnrollment.sqlite')
cursor = db.cursor()

cursor.execute('Select * from Department')
print('Department\n', *cursor.fetchall(), sep='\n')
cursor.execute('Select * from Course')
print('Course\n', *cursor.fetchall(), sep='\n')
cursor.execute('Select * from Student')
print('Student\n', *cursor.fetchall(), sep='\n')
cursor.execute('Select * from Enrolled_in')
print('Enrolled_in\n', *cursor.fetchall(), sep='\n')

Department

(1, 'COMP')
(2, 'MATH')
(3, 'ANTH')
Course

(1, 1, 'Data Structures', 410, 3)
(2, 1, 'Computer Organization', 411, 3)
(3, 1, 'Files and Databases', 521, 3)
(4, 1, 'Software Engineering', 523, 4)
(5, 2, 'Discrete Mathematics', 381, 3)
(6, 2, 'First Course in Differential Equations', 383, 3)
(7, 2, 'Advanced Calculus I', 521, 3)
(8, 3, 'The Past in the Present', 452, 3)
(9, 3, 'Anthropology of the Body and the Subject', 473, 4)
(10, 3, 'Visual Anthropology', 477, 3)
Student

(1, 1, 'MARY', 'Smith')
(2, 1, 'PATRICIA', 'Johnson')
(3, 1, 'JAMES', 'Williams')
(4, 1, 'ROBERT', 'Jones')
(5, 2, 'MICHAEL', 'Brown')
(6, 2, 'WILLIAM', 'Davis')
(7, 2, 'LINDA', 'Miller')
(8, 3, 'BARBARA', 'Wilson')
(9, 3, 'DAVID', 'Moore')
(10, 3, 'RICHARD', 'Taylor')
(11, 3, 'MICHAEL', 'Jordan')
Enrolled_in

(1, 1, 1)
(2, 1, 3)
(3, 1, 9)
(4, 1, 4)
(5, 2, 1)
(6, 2, 2)
(7, 2, 3)
(8, 2, 4)
(9, 3, 1)
(10, 3, 3)
(11, 3, 4)
(12, 3, 9)
(13, 4, 2)
(14, 4, 3)
(15, 4, 5)
(16, 4, 10)
(17, 5, 5)
(18, 5, 3)
(19, 5, 7)
(20, 6, 5)
(21, 6, 6)
(22, 6, 7)
(23, 7, 3)
(24, 7, 6)
(25, 7, 9)
(26, 8, 8)
(27, 8, 9)
(28, 8, 10)
(29, 9, 3)
(30, 9, 9)
(31, 9, 10)
(32, 10, 8)
(33, 10, 9)
(34, 10, 10)

For the next three questions write a SQL query that produces a result that is equivalent to the Relational Algebra expression. I will execute the SQL query for you.

## Question 1

Translate this Relational Algebra expression into SQL: $\pi_{name} \sigma_{num < 500} Course$

In [5]:
# write your SQL expression here
sql1 = '''
 SELECT Course.name
 FROM Course
 WHERE Course.num < 500
'''


# checking code. Do NOT change this.
cursor.execute(sql1)
c1 = cursor.fetchall()
print(c1)

[('Data Structures',), ('Computer Organization',), ('Discrete Mathematics',), ('First Course in Differential Equations',), ('The Past in the Present',), ('Anthropology of the Body and the Subject',), ('Visual Anthropology',)]

In [6]:
# You cannot and should not update this cell
cursor = db.cursor()
cursor.execute(sql1)
c1 = cursor.fetchall()
check('Q1', c1, points=12, sort=True)

Q1 appears correct

## Question 2

Set Python `sql2` to the SQL query that reflects the following:

$\pi_{fname,lname}\sigma_{name='Files\ and\ Databases'}(Student\bowtie Enrolled\_in \bowtie Course)$

In [7]:
# Assign your result to c2
sql2 = '''
 SELECT Student.fname, Student.lname
 FROM Student, Enrolled_in, Course
 WHERE Student.sid = Enrolled_in.sid AND Enrolled_in.cid = Course.cid AND Course.name = "Files and Databases"
'''

# checking
cursor.execute(sql2)
c2 = cursor.fetchall()
print(c2)

[('MARY', 'Smith'), ('PATRICIA', 'Johnson'), ('JAMES', 'Williams'), ('ROBERT', 'Jones'), ('MICHAEL', 'Brown'), ('LINDA', 'Miller'), ('DAVID', 'Moore')]

In [8]:
# You cannot and should not update this cell
cursor = db.cursor()
cursor.execute(sql2)
c2 = cursor.fetchall()
check('Q2', c2, points=12, sort=True)

Q2 appears correct

## Question 3

Set Python variable `sql3` to the SQL query that reflects the following:

$ \pi_{fname,lname} \sigma_{name='ANTH'} (Student \bowtie Department) $

In [9]:
# assign to c3
sql3 = '''
 SELECT Student.fname, Student.lname
 FROM Student, Department
 WHERE Student.did = Department.did AND Department.name = 'ANTH'
'''

# checking
cursor.execute(sql3)
c3 = cursor.fetchall()
print(c3)

[('BARBARA', 'Wilson'), ('DAVID', 'Moore'), ('RICHARD', 'Taylor'), ('MICHAEL', 'Jordan')]

In [10]:
# You cannot and should not update this cell
cursor = db.cursor()
cursor.execute(sql3)
c3 = cursor.fetchall()
check('Q3', c3, points=12, sort=True)

Q3 appears correct

## Question 4

Set the Python variable `sql4` to the SQL query that represents the follwoing:

$ \pi_{name} \sigma_{creditHours=3} Course $

In [11]:
# assign to sql4
sql4 = '''
 SELECT Course.name
 FROM Course
 WHERE Course.creditHours = 3
'''

# checking
cursor.execute(sql4)
c4 = cursor.fetchall()
print(c4)

[('Data Structures',), ('Computer Organization',), ('Files and Databases',), ('Discrete Mathematics',), ('First Course in Differential Equations',), ('Advanced Calculus I',), ('The Past in the Present',), ('Visual Anthropology',)]

In [12]:
# You cannot and should not update this cell
cursor = db.cursor()
cursor.execute(sql4)
c4 = cursor.fetchall()
check('Q4', c4, points=12, sort=True)

Q4 appears correct

For these next questions, write a SQL query to fetch the requested information. 
From here on, I want you
to write the Python code as well as the query. The questions above provide an example of what you must type.

## Question 5

Set Python variale `c5` to a list of tuples of names of all 4 credit hour courses.

In [13]:
# your code here
sql5 = '''
 SELECT Course.name
 FROM Course
 WHERE Course.creditHours = 4
'''
cursor.execute(sql5)
c5 = cursor.fetchall() # the result of fetch all goes in this variable

print(c5)

[('Software Engineering',), ('Anthropology of the Body and the Subject',)]

In [14]:
# You cannot and should not update this cell
check('Q5', c5, points=12, sort=True)

Q5 appears correct

## Question 6

Set Python variable `c6` to the list of tuples of first and last names of all students enrolled in COMP courses.

In [15]:
# your code here - HELP
sql6 = '''
 SELECT DISTINCT Student.fname, Student.lname
 FROM Student, Department, Enrolled_in, Course
 WHERE Student.sid = Enrolled_in.sid AND Enrolled_in.cid = Course.cid AND Course.did = Department.did AND Department.name = "COMP"
'''

cursor.execute(sql6)
c6 = cursor.fetchall() # the result of fetch all goes in this variable

print(c6)

[('MARY', 'Smith'), ('PATRICIA', 'Johnson'), ('JAMES', 'Williams'), ('ROBERT', 'Jones'), ('MICHAEL', 'Brown'), ('LINDA', 'Miller'), ('DAVID', 'Moore')]

In [16]:
# You cannot and should not update this cell
check('Q6', c6, points=12, sort=True)

Q6 appears correct

## Question 7

Set Python variable `c7` to the list of tuples of first and last names of all students enrolled in courses of at least 500 level.

In [17]:
# your code here - HELP
sql7 = '''
 SELECT DISTINCT Student.fname, Student.lname
 FROM Student, Course, Enrolled_in
 WHERE Course.cid = Enrolled_in.cid AND Course.num > 500 AND Enrolled_in.sid = Student.sid
'''

cursor.execute(sql7)
c7 = cursor.fetchall() # the result of fetch all goes in this variable
print(c7)

[('MARY', 'Smith'), ('PATRICIA', 'Johnson'), ('JAMES', 'Williams'), ('ROBERT', 'Jones'), ('MICHAEL', 'Brown'), ('WILLIAM', 'Davis'), ('LINDA', 'Miller'), ('DAVID', 'Moore')]

In [18]:
# You cannot and should not update this cell
check('Q7', c7, points=12, sort=True)

Q7 appears correct

## Question 8

Set Python variable `c8` to the list of tuples of first and last names of all students enrolled in 'Data Structures' and "Anthropology of the Body and the Subject'.

In [19]:
# your code here - HELP
# expect to see mary smith and james williams
sql8 = '''
 SELECT Student.fname, Student.lname
 FROM Student, Course, Enrolled_in
 WHERE Student.sid = Enrolled_in.sid AND Enrolled_in.cid = Course.cid AND Course.name = 'Data Structures'
 
 INTERSECT
 
 SELECT Student.fname, Student.lname
 FROM Student, Course, Enrolled_in
 WHERE Student.sid = Enrolled_in.sid AND Enrolled_in.cid = Course.cid AND Course.name = 'Anthropology of the Body and the Subject'
 '''

cursor.execute(sql8)
c8 = cursor.fetchall() # the result of fetch all goes in this variable
print(c8)

[('JAMES', 'Williams'), ('MARY', 'Smith')]

In [20]:
# You cannot and should not update this cell
check('Q8', c8, points=12, sort=True)

Q8 appears correct

## Done!

Now get your report and submit your assignment.

In [21]:
# You cannot and should not update this cell
# This cell will produce a summary report of your assignment
assert Author != 'youronyen'
assert Collaborators != ['list', 'their', 'onyens', 'here']
report(Author, Collaborators)

  Collaborators: ['sarsimha']
Report for mkrishn
  10 of 10 appear correct, 100 of 100 points

## Done!
<img src="https://comp421.cs.unc.edu/static/images/restartAndClearOutput.png" width="300" style="float: right" />

Now go back, restart the kernel (menu <font color="green">Kernel</font>-><font color="green">Restart and Clear</font>), and then Shift-Enter your way through the notebook to run all the cells again so you an be sure all your code will work as you expect during grading.

## Saving your work
<img src="https://comp421.cs.unc.edu/static/images/saveAndCheckpoint.png" width="300" style="float: right" />

Now save your work by going to (menu <font color='green'>File</font>-><font color='green'>Save and Checkpoint</font>)

## Submit your notebook

After saving, restarting the kernel, and verifying your report,
you would submit your notebook.


Note that if you actually saved your work you should not see the leaving site message below.
If you do see the `Leave Site` warning, cancel and save your work again.
<br />
<img src="https://comp421.cs.unc.edu/static/images/leaveSite.png" width="300"/>




To submit your notebook, go to https://comp421.cs.unc.edu/notebook 
If you may have accidentally downloaded the assignment zip file multiple times,
ensure you submit the file from the directory where your solution is!
You <font color='red'>must</font> ensure that you select the correct file.

<img src="https://comp421.cs.unc.edu/static/images/SubmitNotebook.png" width="300" style="float: left" />